# Tuples in Python

In [9]:
# A tuple is a collection of immutable heterogenous python objects i.e CANNOT BE CHANGED like in LISTS
# They're Just like lists but can't be changed

# Creating Tuples; like empty tuples

In [10]:
emp=()
print(type(emp))

<class 'tuple'>

In [11]:
# An occupied tuple now
city=("Delhi", "Mumbai", "Nairobi", "London", )
# Can also be without brackets but must end with a comma as below: 
city1="Delhi", "Mumbai", "Nairobi", "London",
print(city)
print(city1)

('Delhi', 'Mumbai', 'Nairobi', 'London')
('Delhi', 'Mumbai', 'Nairobi', 'London')

In [12]:
# Lists are mutable while Tuples are immutable
list1=[1,2,3,4,5]
tuple1=(1,2,3,4,5)
list1.append(78) # to add 78 to the list
print(list1)

[1, 2, 3, 4, 5, 78]

In [13]:
tuple1.append(78)
print(tuple1)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# The error above is because tuples cannot be ammended. When you use the append metthod, you print a new list with the number that has been added.

In [14]:
print(city)

('Delhi', 'Mumbai', 'Nairobi', 'London')

In [ ]:
city[2] # to print the third index of the list "city"

'Nairobi'

In [ ]:
# when not knwoing the length, we can extract elements from the end
city[-2]

'Nairobi'

# Operations on Lists in Python

In [ ]:
#1 Concatenation; which means combining two tuples/lists

print(city)

('Delhi', 'Mumbai', 'Nairobi', 'London')

In [16]:
num=(1,2,3,4,5,6)
print(num)

(1, 2, 3, 4, 5, 6)

In [17]:
# concatenating the two tuples created
print(city+num)

('Delhi', 'Mumbai', 'Nairobi', 'London', 1, 2, 3, 4, 5, 6)

# Nesting Tuples

In [18]:
nest=(city, num) # nests the two
print(nest)

(('Delhi', 'Mumbai', 'Nairobi', 'London'), (1, 2, 3, 4, 5, 6))

# Repetition

In [19]:
rep=("Pyhton") *5 # instead of typing python 5 times, we do this..just multiply by 5
print(rep)

PyhtonPyhtonPyhtonPyhtonPyhton

In [20]:
# Alternatively, multiply during printing:
rep1=("Mulu")
print(rep1*10)

MuluMuluMuluMuluMuluMuluMuluMuluMuluMulu

In [21]:
print (rep1)

Mulu

# Slicing Tuples

In [22]:
print(num)

(1, 2, 3, 4, 5, 6)

In [23]:
num[1: ] # printing first element onwards

(2, 3, 4, 5, 6)

In [24]:
num[:: -1] # [Prints the list in reverse order]

(6, 5, 4, 3, 2, 1)

# Unpacking in tuples

In [25]:
strg="SimpliLearn"

In [26]:
print(tuple("SimpliLearn"))

('S', 'i', 'm', 'p', 'l', 'i', 'L', 'e', 'a', 'r', 'n')

In [27]:
num2=(4,5,6,7)
print(num2)

(4, 5, 6, 7)

In [28]:
# assigning variables to the tuple elements
a,b,c,d=num2
print(a,b,c,d)

4 5 6 7

In [31]:
a, *b , c =num2 # the asterix before b indicates that it's a list.
# here i just wanted the first and the last elements, the other ones i don't know them so i put them in a list
print(a,b,c)

4 [5, 6] 7

# Deleting a Tuple

In [37]:
tuple1=(1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [38]:
del tuple1

In [39]:
print(tuple1)

NameError: name 'tuple1' is not defined

In [40]:
# The error above is because we have already deleted tuple1
# You can delete the whole tuple, but not some of its elements

# Built-in funtions that work with Tuples

In [45]:
num1=(2,3,4,4,4,5,6,7,2,4,4,6,5,3,4)

In [46]:
num1.count(4) # counts the frequency of 4's in out tuple

6

In [47]:
sum(num1) # To get sum of all elements in the tuple

63

In [48]:
len(num1) # Used for tuples to get legth of the tuple, as used in lists and strings also.

15

In [52]:
max(num1) # Gets the maximum element

7

In [54]:
min(num1) # Gets the minimum element

2

# Converting a List to a Tuple

In [56]:
lst1=[1,2,3,4,5]
print(type(lst1)) #shows what datatype is the variable lst1

<class 'list'>

In [57]:
tpl1=tuple(lst1) # Now we make a tuple named tpl1 this way
print(tpl1)

(1, 2, 3, 4, 5)

In [58]:
print(type(tpl1)) # We mostly convert lists to tuples when we realize we don't want any changes to be done on it.

<class 'tuple'>

# Nesting tuples in a list

In [59]:
lst=[(1,2,3), (4,5,6)] # two tuples nested within a list
print(lst)

[(1, 2, 3), (4, 5, 6)]

In [60]:
# Doing some operations/methods on nested tuples is easy..
lst.append(("Tuple","Inside","list"))
print(lst)

[(1, 2, 3), (4, 5, 6), ('Tuple', 'Inside', 'list')]

In [61]:
lst.remove((1,2,3)) # removes the first nested tuple from the list

In [62]:
print(lst)

[(4, 5, 6), ('Tuple', 'Inside', 'list')]

# Nesting Lists within tuples

In [63]:
tplist=(["a","b","c",],["d","e","f"])
print(tplist)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [64]:
# we cannot modify tuples, but we can modify the list within the tuple
tplist[0].append("z") # tplist[0] means we're accessing the first element of the list; then append attaches the extra element
print(tplist)

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [65]:
tplist[0].remove("z") # This removes the "z" item in the first tuple element(which is a list)
print(tplist)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [66]:
tplist.append(["x","y","z"]) # Trying to add another element to the tuple, but won't work
print(tplist)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# The error above is because we cannot modify a tuple, but we can modify a list withing the tuple.