In [1]:
#intergers- which is any whole number
num=5
type(num)

int

In [2]:
# floating variable
num=4.3
type(num)

float

In [7]:
#Complex numbers/variables
num=8+4j
type(num)

complex

In [8]:
num.real

8.0

In [9]:
num.imag

4.0

In [10]:
# Negative numbers
num= -456
type(num)

int

# Arithmetic Operations on Numbers

In [13]:
num1= 3
num2= 10
# Addition
print(num1+num2)

13

In [15]:
#Division
print(num1/num2)
print(num1//num2)

0.3
0

In [16]:
#Raising a number to power x, in the code below we see 10^3 is 1000.
print(num2**num1)

1000

In [17]:
# To get the remainder we use modulus %%!
print(num2%num1)

1

# Conversions

In [18]:
# below is an int variable but is a string value
x="183"
type(x)

str

In [19]:
# Now we convert string to integer(number)
x=int(x)
type(x)

int

In [20]:
x=float(x)
type(x)

float

In [23]:
x=complex(x)
type(x)

complex

In [24]:
print(x)

(183+0j)

# Funtction to change int to complex number

In [25]:
print(complex(5,7))

(5+7j)

# Functions

In [27]:
# ...Absolute funtion, the result is always a positive number
x= -7.5
print(abs(x))

7.5

In [28]:
# ...The exponent funtion..exp, pyhton take exp as a contstant
import math
x=10
print(math.exp(x))

22026.465794806718

In [30]:
# pyton has e of exponent stored as a constant also
math.e

2.718281828459045

In [31]:
# pyton has pi stored as a constant also
math.pi

3.141592653589793

# SQUARE ROOT FUNCTION

In [33]:
# printing the square root of 9
print(math.sqrt(9))
print(math.sqrt(7))

3.0
2.6457513110645907

# The max and min function

In [34]:
# Gets the largest number out of the list given
max(1,2,3,4,5,6,7,8,9,0,22)

22

In [35]:
# The minimum function
min(1,2,3,4,5,6,7,8,9,0,22)

0

# Lists in Python

In [1]:
# A list is a collect of data. it can hold different data types
# A list has indices
# Examples below

num=[1,3,3,4,4,5,6,7]
print(num)

[1, 3, 3, 4, 4, 5, 6, 7]

In [3]:
letter=["a","b","c","d","e"] # letters must have quotes, otherwise won't work.
print(letter)

['a', 'b', 'c', 'd', 'e']

In [4]:
string=["get", "Hired", "Today", "Good", "Pay"]

print(string)

['get', 'Hired', 'Today', 'Good', 'Pay']

In [6]:
mixedli=[1,2,3, "Maths", "Physics", "Data Science"]
print(mixedli)

[1, 2, 3, 'Maths', 'Physics', 'Data Science']

In [7]:
# Matrix

matrix=[[1,3], ["a","b", "c"]]
print(matrix)

[[1, 3], ['a', 'b', 'c']]

# Accessing Elements in a List

In [9]:
print(mixedli)

[1, 2, 3, 'Maths', 'Physics', 'Data Science']

In [10]:
mixedli[3] # counts from start/front of the list

'Maths'

In [11]:
mixedli[-3] # when you put a -ve sign it counts indices from the back/ end of the list

'Maths'

In [17]:
mixedli[0:3] # prints from 0 to 3rd index
# Or
mixedli[:3]

[1, 2, 3]

In [18]:
mixedli[3:] # prints from 3rd index to end

['Maths', 'Physics', 'Data Science']

In [19]:
mixedli[2:4] # prints 2nd and 3rd index

[3, 'Maths']

In [20]:
mixedli[::2] # prints every 2nd index

[1, 3, 'Physics']

In [21]:
mixedli[::-1] # prints the whole list indices in reverse order

['Data Science', 'Physics', 'Maths', 3, 2, 1]

In [22]:
mixedli[1::2] # prints every 2nd index starting from the 1th index

[2, 'Maths', 'Data Science']

# Operations on Lists

In [23]:
z=[0]*100 # prints 0*100...100 zeros
print(z)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
print(letter)

['a', 'b', 'c', 'd', 'e']

In [25]:
print(string)

['get', 'Hired', 'Today', 'Good', 'Pay']

In [26]:
# combine the two lists by concatinating them
conc= letter + string
print(conc)

['a', 'b', 'c', 'd', 'e', 'get', 'Hired', 'Today', 'Good', 'Pay']

In [27]:
# Unpacking a list
var=list("Hey there")
print(var)

['H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e']

In [28]:
print(num)

[1, 3, 3, 4, 4, 5, 6, 7]

In [29]:
one, *other= num
print(one)
print(other)

1
[3, 3, 4, 4, 5, 6, 7]

# Methods in Lists

In [30]:
# the append method
print(num)

[1, 3, 3, 4, 4, 5, 6, 7]

In [31]:
num.append(45) # Adds 45 to the previous list
print(num)

[1, 3, 3, 4, 4, 5, 6, 7, 45]

In [32]:
print(string)

['get', 'Hired', 'Today', 'Good', 'Pay']

In [34]:
# How to add string to the num list
num.extend(string)
print(num)

[1, 3, 3, 4, 4, 5, 6, 7, 45, 'get', 'Hired', 'Today', 'Good', 'Pay', 'get', 'Hired', 'Today', 'Good', 'Pay']

In [35]:
# Inserting an element within the List
num.insert(8,"Index8inserted")
print(num)

[1, 3, 3, 4, 4, 5, 6, 7, 'Index8inserted', 45, 'get', 'Hired', 'Today', 'Good', 'Pay', 'get', 'Hired', 'Today', 'Good', 'Pay']

In [36]:
# Remove Method, which removes an element in a list..only removes the first occurence of the item
num.remove("Index8inserted")
print (num)

[1, 3, 3, 4, 4, 5, 6, 7, 45, 'get', 'Hired', 'Today', 'Good', 'Pay', 'get', 'Hired', 'Today', 'Good', 'Pay']

In [38]:
# The Sort method
varSort=["b", "a", "q", "y", "c","d"]
varSort.sort()
print(varSort)

['a', 'b', 'c', 'd', 'q', 'y']

# Python Built-in functions to use with lists

In [40]:
x=[1,4,2,7,6,8,43,89,65,5,0] #list x
print(x)

[1, 4, 2, 7, 6, 8, 43, 89, 65, 5, 0]

In [42]:
# to get length of list x we use len
len(x)

11

In [43]:
min(x) # to get the minimum element in the list

0

In [44]:
max(x) # the maximum element

89

In [45]:
sum(x) # Getting sum of all elements in the list

230

In [46]:
# getting the avaerage/mean,no built-in funtion, but rather divide sum by len
sum(x)/len(x) # hoe to get the average

20.90909090909091