# Tuples in Python

In [ ]:
# A tuple is a collection of immutable heterogenous python objects i.e CANNOT BE CHANGED like in LISTS
# They're Just like lists but can't be changed

# Creating Tuples; like empty tuples

In [2]:
emp=()
print(type(emp))

<class 'tuple'>

In [7]:
# An occupied tuple now
city=("Delhi", "Mumbai", "Nairobi", "London", )
# Can also be without brackets but must end with a comma as below: 
city1="Delhi", "Mumbai", "Nairobi", "London",
print(city)
print(city1)

('Delhi', 'Mumbai', 'Nairobi', 'London')
('Delhi', 'Mumbai', 'Nairobi', 'London')

In [8]:
# Lists are mutable while Tuples are immutable
list1=[1,2,3,4,5]
tuple1=(1,2,3,4,5)
list1.append(78) # to add 78 to the list
print(list1)

[1, 2, 3, 4, 5, 78]

In [9]:
tuple1.append(78)
print(tuple1)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# The error above is because tuples cannot be ammended. When you use the append metthod, you print a new list with the number that has been added.

In [10]:
print(city)

('Delhi', 'Mumbai', 'Nairobi', 'London')

In [11]:
city[2] # to print the third index of the list "city"

'Nairobi'

In [12]:
# when not knwoing the length, we can extract elements from the end
city[-2]

'Nairobi'

# Operations on Lists in Python

In [13]:
#1 Concatenation; which means combining two tuples/lists

print(city)

('Delhi', 'Mumbai', 'Nairobi', 'London')

In [14]:
num=(1,2,3,4,5,6)
print(num)

(1, 2, 3, 4, 5, 6)

In [16]:
# concatenating the two tuples created
print(city+num)

('Delhi', 'Mumbai', 'Nairobi', 'London', 1, 2, 3, 4, 5, 6)

# Nesting Tuples

In [17]:
nest=(city, num) # nests the two
print(nest)

(('Delhi', 'Mumbai', 'Nairobi', 'London'), (1, 2, 3, 4, 5, 6))

# Repetition

In [20]:
rep=("Pyhton") *5
print(rep)

PyhtonPyhtonPyhtonPyhtonPyhton

In [22]:
# Alternatively:
rep1=("Mulu")
print(rep1*10)

MuluMuluMuluMuluMuluMuluMuluMuluMuluMulu

In [26]:
print (rep1)

Mulu

# Slicing Tuples

In [25]:
print(num)

(1, 2, 3, 4, 5, 6)

In [27]:
num[1: ] # printing first element onwards

(2, 3, 4, 5, 6)

In [28]:
num[:: -1] # [Prints the list in reverse order]

(6, 5, 4, 3, 2, 1)

# Unpacking in tuples

In [29]:
strg="SimpliLearn"

In [30]:
print(tuple("SimpliLearn"))

('S', 'i', 'm', 'p', 'l', 'i', 'L', 'e', 'a', 'r', 'n')

In [32]:
num2=(4,5,6,7)
print(num2)

(4, 5, 6, 7)

In [33]:
# assigning variables to the tuple elements
a,b,c,d=num2
print(a,b,c,d)

4 5 6 7